@import "src/Styles/_globals.scss";

.logItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 10px;
  font-family: $font-family-mono;
}

.source {
  margin: 0 0 -10px 0;
  font-size: 12px;
  font-weight: 600;
}

.type {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  align-self: flex-end;
}

.message {
  margin: 0;
  font-size: 14px;
  align-self: flex-end;
}
