@import "src/Styles/_globals.scss";

.room {
  background-color: $color-room;
  padding: 15px;
  margin: 10px;



  border-radius: 5px;

  width: calc(100% - 50px);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 24px;
  margin: 0;
  align-self: flex-start;
}

.select {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.delete {
  width: 20px;

  &:hover {
    cursor: pointer;
  }
}

.colorIcon {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  outline: 2px solid $color-accent;
}
