@import "src/Styles/_globals.scss";

.room {
  background-color: $color-room;
  padding: 15px;
  margin: 0 10px;
  border-radius: 5px;
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
}


.select {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.delete {
  width: 20px;

  &:hover {
    cursor: pointer;
  }
}

.colorIcon {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  outline: 2px solid $color-accent;

  &:hover {
    cursor: pointer;
  }
}

.popOver {
  position: absolute;
  z-index: 2;
  height: 0;

  left: -11.5px;
  top: 16px;
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.innerWrapper {
  position: relative;
  height: auto;
}

.name {
  font-family: $font-family-text;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 0;
  font-size: 24px;
}

.fullHeight {
  height: 100%;
}
