.app {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

.body {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
}

.log {
  width: 200px;
}

.button {
  align-self: center;
}

.rooms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}