@import "src/Styles/_globals.scss";

.heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 15px;
}

.header {
  text-align: center;
  font-size: 54px;
  margin: 0;
}

.text {
  width: 480px;
  align-self: flex-end;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-family: $font-family-mono;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subHeading {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}